<div class="comment-form">
    <div class="card card-body">
    {{ form_start(comment_form)  }}
            {{ form_widget(comment_form.text) }}
            <button class="btn btn-primary mb-2 float-right" type="submit">{{ 'buttons.send_comment'| trans }}</button>
    {{ form_end(comment_form) }}
    </div>
</div>
