<div class="comment-form">
    {{ form_start(comment_form) }}
            {{ form_widget(comment_form.text) }}
            <button class="btn btn-primary mb-2 float-right" type="submit">Send Comment</button>
    {{ form_end(comment_form) }}
</div>
