{% extends 'basepage.html.twig' %}

{% block title %}★GuestBook★ New message{% endblock %}

{% block content %}
    <h3 class="font-weight-light">New message</h3>
    {% include 'message/form.html.twig' %}
{% endblock %}